#content_target_inner .accordian > li {
	display: block;
	overflow: hidden;
	background-color: #ffffff;
	height: 50px;
	width: 500px;
	padding-left: 15px;
	padding-bottom: 15px;
	margin-bottom: 30px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 6px 2px 15px #000000;
	-webkit-box-shadow: 6px 2px 15px #000000;
	box-shadow: 6px 2px 15px #000000;
}

#content_target_inner .accordian li {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
}