/* Validated against CSS3 */

/*bottom right*/ /*box-shadow: inset -5px -5px 5px #000000;*/
/*bottom left*/ /*box-shadow: inset 5px -5px 5px #000000;*/
/*top left*/ /*box-shadow: inset 5px 5px 5px #000000;*/
/*top right*/ /*box-shadow: inset -5px 5px 5px #000000;*/

a:link {text-decoration: none; color: #000000;}
a:visited {text-decoration: none; color: #000000;}
a:hover {text-decoration: none; color: #ff0000; cursor:pointer;}
a:active {text-decoration: none; color: #ff0000;}

html  {
	overflow-y: scroll;
}

@font-face {  
	font-family: custom;  
	src: url('../font/font.ttf');
}

@font-face {  
	font-family: custom_italic;  
	src: url('../font/font_italic.ttf ');
}

body {
	font-family: verdana, sans-serif; 	
	
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#wrapper {
	margin: 0 auto;
	margin-top: 2em;
	width: 800px;
	height: 740px;
}

#logo {
	float: left;
	position: relative;
	width: 175px;
	height: 75px;
	margin-top: 5px;
}

#logo h1 {
	font-family: arial, verdana, sans-serif; 
	font-size: 2.75em;
	font-weight: normal;
	color: #000000;
	margin: 0 auto;
	text-align: right;
}

#logo h3 {
	font-family: verdana, sans-serif; 
	font-size: .80em;
	font-weight: normal;
	font-style: italic;
	letter-spacing: -1px;
	color: #000000;
	margin: 0 auto;
	margin-top: -1em;
	text-align: right;
}

#logo a:hover {
	color: #000000;
}

#title {
	float: right;
	position: relative;
	background-color: rgba(45,45,45,1.0);
	width: 300px;
	height: 65px;
	box-shadow: inset 3px 3px 3px rgba(0,0,0,0.8);
}

#title h1 {
	font-family: arial, verdana, sans-serif; 
	font-size: 3em;
	font-weight: normal;
	color: #ffffff;
	margin: 0 auto;
	margin-top: 3px;
	text-align: center;
	text-shadow: 2px 2px #000000;
}

#main {
	position: absolute;
	background-color: rgba(45,45,45,1.0);
	margin-top: 65px;
	width: 800px;
	height: 675px;
	box-shadow: inset 3px -3px 3px rgba(0,0,0,0.8);
	
	overflow: hidden;
}

#main_wrapper {
	position: absolute;
	width: 800px;
	height: 675px;
	box-shadow: inset -3px -3px 3px rgba(0,0,0,0.8);
}

#main_wrapper_top_shadow {
	z-index: 2;
	position: absolute;
	float: left;
	height: 65px;
	width: 500px;
	box-shadow: 3px 3px 3px rgba(0,0,0,1);
}

#title_wrapper {
	float: right;
	position: relative;
	width: 300px;
	height: 65px;
	box-shadow: inset -3px 3px 3px rgba(0,0,0,0.8);
}	

.question {
	display: block;
	padding-bottom: 10px;
}




