#global_nav {
	float: left;
	width: 310px;
	height: 75px;
}

#global_nav ul {
	margin-top: 24px;
	margin-left: 20px;
}

#global_nav li {
	list-style: none;
	float: left;
	margin: 0px 5px;
}

#global_nav a {
	font-size: .75em;
}

#global_nav a:hover {
	text-decoration: italic;
}