#sidebar {
	float: right;
	z-index: 5;
	margin-top: -40em;
	padding-right: 20px;
	position: relative;
	
	box-shadow: -3px 3px 3px rgba(0,0,0,0.8);
	
	font-size: .75em;
	
	background-color: #ffffff;
	width: 140px;
	
	margin-right: -160px;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
}

#sidebar_tab {
	float: left;
	position: absolute;
	
	margin-left: -16px;
	
	padding: 5px;
 
	box-shadow: -3px 3px 3px rgba(0,0,0,0.8);
	
	background-color: #ffffff;
}

#sidebar > ul {
	list-style: none;
	font-weight: bold;
	margin: 5px 5px;

	padding: 5px;
}

#sidebar ul ul a {
	font-weight: lighter !important;
}

#sidebar_content > ul {
	list-style: none;
	font-weight: bold;
	margin: 5px 5px;

	padding: 5px;
}

#sidebar_content ul ul a {
	font-weight: lighter !important;
}